# For now, ignore the `examples` dir
examples/

### C++ ###
# Compiled Object files
*.o
*.d
build/

# Compiled Static libraries
*.a

# Executables
*.elf
*.hex
*.eep

# Haskell
cabal.sandbox.config
.cabal-sandbox/

copilot-c99-codegen/
*copilot-c99-codegen/
